*.apk
*.ap_
*.dex
bin/
gen/
out/
.gradle/
gradle
gradle.properties
gradlew
gradlew.bat
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane